body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: white
}

h1 {
    margin-top: 20px;
}

#color-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.color-group {
    margin: 10px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    display: inline-block;
}

.color-box {
    width: 100px;
    height: 100px;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.2s ease;
}

.color-box:hover {
    transform: scale(1.1);
}